@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

//Variables
$main-green: rgb(69, 181, 74);

/*--------Login---------*/
.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  .login-wpp {
    background: url("./images/login.jpg") no-repeat;
    background-size: cover;
  }
  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      width: 350px;
      .bold-txt {
        font-weight: bold;
      }
      img {
        width: 165px;
      }

      h1 {
        text-align: center;
        margin-top: 1rem;
        font-weight: 100;
        color: rgb(27, 26, 26);
        font-size: 1.8rem;
      }

      p {
        margin-top: 1rem;
        color: rgb(165, 151, 151);
        font-size: 0.9rem;
      }
    }
    .signin {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      input {
        margin-top: 2rem;
        height: 60px;
        padding: 12px;
        width: 350px;
        border: solid 1px rgb(230, 217, 217);
        border-radius: 10px;
        transition: 0.2s ease;
        &:focus {
          outline: none;
          border: solid 1px rgb(146, 140, 140);
        }
      }
      button {
        cursor: pointer;
        margin-top: 2rem;
        height: 45px;
        border: none;
        border-radius: 8px;
        background-color: $main-green;
        color: rgb(245, 238, 238);
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 100%;
        &:focus{
          outline: none;
        }
      }
    }

    a {
      margin-top: 1.5rem;
      color: $main-green;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 0.9rem;
    }

    .signup {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      a {
        margin-top: 0;
        text-transform: inherit;
        text-decoration: none;
        font-size: 0.8rem;
        margin-top: 5px;
        font-weight: 100;
      }
    }
  }
}


/*---------Home---------*/
.home-container{
  display: flex;
  // justify-content: center;
  margin-left: 22vw;
  .dados{
    display: flex;
    justify-content: space-between;
    padding-right: 5rem;
    width: 100%;
    .grafico{
      display: flex;
      width: 600px;
      margin-top: 2.3rem;
      h1{
        margin: 0 auto;
      }
    }
  }
  .dados-empresa{
    margin-top: 2.3rem;
    display: flex;
    flex-direction: column;
    h1{
      margin-bottom: 1rem;
    }
    li{
      margin-top: 1rem;
      span{
        color: rgb(23, 24, 23);
        font-weight: bold;
      }
    }
    .extrato{
      margin-top: 5rem;
      span{
        color: rgb(23, 24, 23);
        font-weight: bold;
      }
      div{
        display: flex;
        align-items: center;
        h3{
          margin-right: 50px;
        }
        a{
          font-size: 0.9rem;
          color: $main-green;
          font-weight: bold;
          border-bottom: solid 1px $main-green;
        };
      }
    }
  }
}

//Side menu
.menu-container{
  position: fixed;
  left: 0;
  height: 100vh;
  width: 20vw;
  border-right: solid 1px rgb(231, 223, 223);
  nav{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100vh;
    img{
      width: 160px;
      margin-bottom: 2rem;
    }
    ul{
      margin-top: 5rem;
      list-style: none;
      // background: red;
      a{
        text-decoration: none;
        color: rgb(31, 29, 29);
        margin-left: 1rem;
      }
      li{
        display: flex;
        align-items: center;
        margin-top: 1.3rem;
        color: rgb(162, 157, 167);
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
    .saldo{
      h3{
        color: rgb(147, 151, 147);
        font-size: 1rem;
        margin-bottom: 2px;
      }
      span{
        font-weight: bold;
        font-size: 1.8rem;
      }
    }
  }
}
.menu-selected{
  color: $main-green;
}