@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*--------Login---------*/
.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login-container .login-wpp {
  background: url("./images/login.jpg") no-repeat;
  background-size: cover;
}

.login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 350px;
}

.login-container .login-form form .bold-txt {
  font-weight: bold;
}

.login-container .login-form form img {
  width: 165px;
}

.login-container .login-form form h1 {
  text-align: center;
  margin-top: 1rem;
  font-weight: 100;
  color: #1b1a1a;
  font-size: 1.8rem;
}

.login-container .login-form form p {
  margin-top: 1rem;
  color: #a59797;
  font-size: 0.9rem;
}

.login-container .login-form .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.login-container .login-form .signin input {
  margin-top: 2rem;
  height: 60px;
  padding: 12px;
  width: 350px;
  border: solid 1px #e6d9d9;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.login-container .login-form .signin input:focus {
  outline: none;
  border: solid 1px #928c8c;
}

.login-container .login-form .signin button {
  cursor: pointer;
  margin-top: 2rem;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #45b54a;
  color: #f5eeee;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.login-container .login-form a {
  margin-top: 1.5rem;
  color: #45b54a;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.login-container .login-form .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.login-container .login-form .signup a {
  margin-top: 0;
  text-transform: inherit;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 100;
}

/*---------Home---------*/
.menu-container {
  height: 100vh;
  width: 20vw;
  border-right: solid 1px #e7dfdf;
}

.menu-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

.menu-container nav img {
  width: 160px;
  margin-bottom: 2rem;
}

.menu-container nav ul {
  margin-top: 5rem;
  list-style: none;
}

.menu-container nav ul a {
  text-decoration: none;
  color: #1f1d1d;
  margin-left: 1rem;
}

.menu-container nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.3rem;
  color: #a29da7;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-container nav .saldo h3 {
  color: #939793;
  font-size: 1rem;
  margin-bottom: 2px;
}

.menu-container nav .saldo span {
  font-weight: bold;
  font-size: 1.8rem;
}
/*# sourceMappingURL=App.css.map */