@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*--------Login---------*/
.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.login-container .login-wpp {
  background: url("./images/login.jpg") no-repeat;
  background-size: cover;
}

.login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 350px;
}

.login-container .login-form form .bold-txt {
  font-weight: bold;
}

.login-container .login-form form img {
  width: 165px;
}

.login-container .login-form form h1 {
  text-align: center;
  margin-top: 1rem;
  font-weight: 100;
  color: #1b1a1a;
  font-size: 1.8rem;
}

.login-container .login-form form p {
  margin-top: 1rem;
  color: #a59797;
  font-size: 0.9rem;
}

.login-container .login-form .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.login-container .login-form .signin input {
  margin-top: 2rem;
  height: 60px;
  padding: 12px;
  width: 350px;
  border: solid 1px #e6d9d9;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.login-container .login-form .signin input:focus {
  outline: none;
  border: solid 1px #928c8c;
}

.login-container .login-form .signin button {
  cursor: pointer;
  margin-top: 2rem;
  height: 45px;
  border: none;
  border-radius: 8px;
  background-color: #45b54a;
  color: #f5eeee;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}

.login-container .login-form .signin button:focus {
  outline: none;
}

.login-container .login-form a {
  margin-top: 1.5rem;
  color: #45b54a;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.login-container .login-form .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.login-container .login-form .signup a {
  margin-top: 0;
  text-transform: inherit;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 100;
}

/*---------Home---------*/
.home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 22vw;
}

.home-container .dados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 5rem;
  width: 100%;
}

.home-container .dados .grafico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin-top: 2.3rem;
}

.home-container .dados .grafico h1 {
  margin: 0 auto;
}

.home-container .dados-empresa {
  margin-top: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-container .dados-empresa h1 {
  margin-bottom: 1rem;
}

.home-container .dados-empresa li {
  margin-top: 1rem;
}

.home-container .dados-empresa li span {
  color: #171817;
  font-weight: bold;
}

.home-container .dados-empresa .extrato {
  margin-top: 5rem;
}

.home-container .dados-empresa .extrato span {
  color: #171817;
  font-weight: bold;
}

.home-container .dados-empresa .extrato div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .dados-empresa .extrato div h3 {
  margin-right: 50px;
}

.home-container .dados-empresa .extrato div a {
  font-size: 0.9rem;
  color: #45b54a;
  font-weight: bold;
  border-bottom: solid 1px #45b54a;
}

.menu-container {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 20vw;
  border-right: solid 1px #f0e8e8;
}

.menu-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  height: 100vh;
}

.menu-container nav img {
  width: 160px;
  margin-bottom: 2rem;
}

.menu-container nav ul {
  margin-top: 5rem;
  list-style: none;
}

.menu-container nav ul span {
  color: #1f1d1d;
  margin-left: 1rem;
}

.menu-container nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.3rem;
  color: #a29da7;
  font-size: 1.2rem;
  cursor: pointer;
}

.menu-container nav .saldo h3 {
  color: #939793;
  font-size: 1rem;
  margin-bottom: 2px;
}

.menu-container nav .saldo span {
  font-weight: bold;
  font-size: 1.8rem;
  color: #1f1d1d;
}

.menu-selected {
  color: #45b54a;
}

/*-------Extrato page-------*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

table th {
  color: #151615;
}

table td, table th {
  border: 1px solid #f0e6e6;
  font-size: 14px;
  text-align: left;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #e9e0e0;
}
/*# sourceMappingURL=App.css.map */